.title {
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.tableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.table {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  margin-top: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 0.5rem;
  color: #000000;
}
